.git
.idea
.vscode
.pytest_cache
*.pyc
__pycache__/
*.egg-info
/build
/dist
/src
.coverage
/tests/coverage.xml
/pytestdebug.log
db.sqlite3
*.sock
.env
oppiamobile/settings_secret.py
oppiamobile/settings_secret_docker.py
docker-compose.yml
Dockerfile
.dockerignore
